.bgimg{
    background-image: url('img/body.jfif');
    background-size: 100% 100%;
    background-attachment: cover;

    width: 100%;
    height: 60vw;
}

.hearderset{
    padding-top: 260px ;
    box-sizing: border-box;
}

.hearderset h1{         
    font-size: 60px;
    font-weight: bold;
}

.hearderset h2{
    font-size: 32px;
    font-weight: bold;
}

.container-fluid h1{
    font-size: 60px;
    font-weight: bold;
    text-align: center;     
}

.mid{
    
    text-align: center;
    color: white;
    font-size: 6vw;
    letter-spacing: -.2vw;
    font-weight: bold;
    
}
.lg{
    height: 100px;
}
.headin{
    text-align: center;
    align-content: center;
    display: block;
    color: white;
    font-size:20px;
    font-weight: bold;
}


/*
........................Our Services........................*/

.ourservices{
    padding: 100px 0px 60px;
    height: 700px;
}

.ourservices h1{
    font-size: 50px;
    font-weight: bold;
}
.imgsetting{
    border-radius: 60%;
    height:100px;
    width: 100px ;
}
.fa-search{
    margin-top: 24px;
}
.rowsetting o{
    margin-top: 20px;
    color: #6c757d
}
